# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

# Ignore __pycache__ directories
__pycache__/
**/__pycache__/

# Ignore virtual environment folders
venv/
env/

# Jupyter notebook chekpoints
.ipynb_checkpoints

# Ignore large CSVs
data/*.csv
!data/aerodromos.csv